@import '../node_modules/vue-material/src/core/stylesheets/variables.scss';

$sidebar-size: 304px;
$sidebar-break-point: 1281px;

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
}

.container {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  transition: $swift-ease-out;

  @media (min-width: $sidebar-break-point) {
    padding-left: $sidebar-size;
  }
}

.page-content {
	min-height: 100%;
	max-height: 100%;
	flex: 1;
	display: flex;
	flex-flow: column;

  .main-header {
    z-index: 2;
    color: #fff;
  }

  .nav-trigger {
    @media (min-width: $sidebar-break-point) {
      display: none;
    }
  }

  .md-title {
    flex: 1;
    font-size: 16px;
    line-height: 20px;

    @media (min-width: $sidebar-break-point) {
      font-size: 20px;
      margin-left: 8px;
    }
  }
}

.settings-sidebar {
  .md-sidenav-content {
    z-index: 9;
  }

  .md-sidenav-backdrop {
    z-index: 8;
  }
}
